@use '../base/variables' as *;

.section-title {
  font-size: $font-size-xl;
 font-weight: $font-weight-semibold;
  color: $color-dark;
    text-transform: uppercase;
  text-align: center;
   padding: 60px 0 100px;
 
}
.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: $radius-sm;
  background: $color-secondary;
}