
@use "../base/variables" as *;

.about {
  padding: 120px 0;
  background-color: $color-light-pink;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &__image-wrapper {
    flex-shrink: 0;
  }

  &__image {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: $radius-circle;
  }

  &__content {
    max-width: 50%;
    .section-title {
      padding: 0;
    }
  }

  &__text {
    margin: 30px 0 30px;
    padding-right: 20px;
    color: $color-dark;
    font-size: $font-size-m;
    line-height: 1.87;
    text-align: center;
  }

}