  <header id="home">
    <nav class="navbar section__content">

      <a href="#" class="nav-logo">
        <img class="logo-img" src="img/images/logo-coffee.png" alt="" width="24"><span class="logo-text">Coffee</span>
        <!-- <h2 class="logo-text">Coffee</h2> -->
      </a>
      <ul class="nav__menu">
        <button id="menu-close-button" class="fas fa-times"></button>
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#menu" class="nav__link">Menu</a></li>
        <li class="nav__item"><a href="#testimonials" class="nav__link">Testimonials</a></li>
        <li class="nav__item"><a href="#gallery" class="nav__link">Gallery</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link">Contacts</a></li>
      </ul>
      <button id="menu-open-button" class="fas fa-bars"></button>
    </nav>

  
  </header>
