<header class="header" id="home">
  <div class="container">
    <nav class="header__nav">
      <a href="#home" class="header__logo">
        <img
          src="./img/images/logo-coffee.png"
          alt="Coffee logo"
          class="header__logo-image"
          width="32"
          height="32"
        />
        <span class="header__logo-text">Coffee</span>
      </a>

      <ul class="header__menu">
        <button
          class="header__toggle header__toggle--close"
          aria-label="Close menu"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>

        <li class="header__item">
          <a href="#home" class="header__link">Home</a>
        </li>

        <li class="header__item">
          <a href="#about" class="header__link">About</a>
        </li>

        <li class="header__item">
          <a href="#menu" class="header__link">Menu</a>
        </li>

        <li class="header__item">
          <a href="#testimonials" class="header__link">Testimonials</a>
        </li>

        <li class="header__item">
          <a href="#gallery" class="header__link">Gallery</a>
        </li>

        <li class="header__item">
          <a href="#contacts" class="header__link">Contacts</a>
        </li>
      </ul>

      <button
        class="header__toggle header__toggle--open"
        aria-label="Open menu"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>
  </div>
</header>
