@use '../base/variables' as *;

/* Footer section styling */
.footer__section {
  padding: 20px 0;
  background: #252525;


}

 .footer__section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__section :where(.copyright-text, .social-link, .policy-link) {
  color: #fff;
  transition: 0.2s ease;
}
.footer__section .social-link-list {
  display: flex;
  gap: 25px;
}
.footer__section .social-link-list .social-link {
  font-size: $font-size-l;
}
.footer__section .social-link-list .social-link:hover,
.footer__section .policy-text .policy-link:hover {
  color: $color-secondary;
}
.footer__section .policy-text .separator {
  margin: 0 5px;
  color: $color-white;
}
/* Resposive media query for max width 1024px */
@media screen and (max-width: 1024px) {
  .menu__section .menu-list {
    gap: 60px;
  }
  .menu__section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
  }
}
