
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);

  .nav__link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
  }
  .nav__link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .nav__menu {
    display: flex;
    gap: 10px;
  }
}
.nav-logo {
  display: flex;
  align-items: center;

  .logo-img {
    width: 32px;
  }
  .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
  }
}
.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

